/* Centrer les éléments sur la page */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background: #353531;
  }
  
  /* Style du titre */
  h1 {
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: #ff6b6b;
  }
  
  /* Style des menus */
  nav ul {
    list-style-type: none;
    margin-top: 10px;
    width: 1300px;
    height: 60px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FF9505;
    border-radius: 20px;
    padding: 10px;
  }
  
  nav li a {
    display: block;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: #A35F00;
    color: #fff;
    border-radius: 10px;
    transition: 0.3s;
  }
  

 /* Style des actualités */
#actus {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #016FB9;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    
  }
  
  #actus h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
  }
  
  #actus ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  #actus li {
    margin-bottom: 2rem;
    width: 30%;
  }
  
  .actu-container {
    background: #EC4E20;
    border-radius: 20px;
    padding: 20px;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
  }
  
  .actu-container h3 {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  